.wp-block-wporg-report-pattern {
	// stylelint-disable-next-line max-line-length
	--wp-report-dialog-offset: calc(var(--wp-admin--admin-bar--height, 0px) + var(--wp--custom--local-navigation-bar--spacing--height, 0px));

	// Only update font size on toggle button.
	> .wp-block-button > .wp-element-button {
		font-size: var(--wp--preset--font-size--normal) !important;
	}
}

.wporg-report-pattern__dialog-container,
.wporg-report-pattern__dialog-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.wporg-report-pattern__dialog-container {
	top: var(--wp-report-dialog-offset);
	z-index: 2;
	display: flex;

	&[aria-hidden="true"] {
		display: none;
	}
}

.wporg-report-pattern__dialog-overlay {
	background-color: var(--wp--preset--color--black-opacity-15);
}

.wporg-report-pattern__dialog-content {
	z-index: 2;
	position: relative;
	margin: auto;
	background-color: var(--wp--preset--color--white);

	h1 {
		margin: 0;
		font-family: var(--wp--preset--font-family--inter) !important;
		font-size: var(--wp--preset--font-size--large) !important;
		font-weight: 600;
		align-self: center;
	}
}

.wporg-report-pattern__dialog-header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: var(--wp--preset--spacing--20);
	padding: var(--wp--preset--spacing--20);
	border-bottom: 1px solid var(--wp--preset--color--black-opacity-15);

	button {
		padding: 0;
		height: 24px;
		width: 24px;
		border: none;
		background: transparent;
	}
}

.wporg-report-pattern__dialog-body {
	padding: var(--wp--preset--spacing--20);
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--20);
	overflow: auto;
	max-height: calc(85vh - var(--wp-report-dialog-offset) - 100px);
	font-size: var(--wp--preset--font-size--small);

	fieldset,
	legend {
		border: none;
		padding: 0;
		margin: 0;
	}

	.wporg-report-pattern__dialog-field > legend,
	.wporg-report-pattern__dialog-field > label {
		font-weight: 600;
	}

	textarea {
		border: 1px solid var(--wp--preset--color--black-opacity-15);
	}

	textarea:focus,
	input:focus {
		outline: 1.5px solid var(--wp--preset--color--blueberry-1);
		outline-offset: -1.5px;
		box-shadow: inset 0 0 0 3px var(--wp--preset--color--white);
	}
}

.wporg-report-pattern__dialog-footer {
	display: flex;
	flex-direction: row;
	gap: var(--wp--preset--spacing--20);
	padding: var(--wp--preset--spacing--20);
	border-top: 1px solid var(--wp--preset--color--black-opacity-15);

	> * {
		flex: 1;

		button {
			width: 100%;
		}
	}
}
