<phpunit
		bootstrap="./bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="pattern-directory">
			<directory suffix="-test.php">../../plugins/pattern-directory/tests/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
