.wp-block-wporg-delete-button {
	--wp--custom--button--outline--color--text: #d63638;

	--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--white);
	--wp--custom--button--outline--hover--color--background: #d63638;
	--wp--custom--button--outline--hover--border--color: #d63638;

	--wp--custom--button--outline--focus--border--color: #d63638;
	--wp--custom--button--outline--focus--color--background: #d63638;
	--wp--custom--button--outline--focus--color--text: var(--wp--preset--color--white);
}
