.wp-block-wporg-delete-button {
	.wp-block-button__link {
		--wp--custom--button--outline--color--text: #d63638 !important;
		display: flex !important;
		align-items: center;
	}

	svg {
		height: 24px;
		width: 24px;
		overflow: visible;

		path {
			fill: currentColor;
		}
	}
}
