@use "sass:math";

.wp-block-wporg-pattern-view-control {
	position: relative;
	width: 100%;
	--wp--custom--wporg-pattern-preview--border--width: clamp(4px, calc(1.33vw - 1.33px), 20px);
	--wp--custom--wporg-pattern-preview--border--radius: clamp(4px, calc(1.33vw - 1.33px), 20px);

	.wp-block-wporg-pattern-preview {
		box-sizing: content-box;
		border: none;
		width: auto;
		padding: var(--wp--custom--wporg-pattern-preview--border--width);
		display: flex;
		justify-content: center;
	}

	.wp-block-wporg-pattern-preview__container {
		max-width: 100%;
		border-radius: var(--wp--custom--wporg-pattern-preview--border--radius);
		outline-color: var(--wp--custom--wporg-pattern-preview--border--color);
		outline-style: solid;
		outline-width: var(--wp--custom--wporg-pattern-preview--border--width);

		> iframe {
			margin: 0;
			display: block;
			border-radius: var(--wp--custom--wporg-pattern-preview--border--radius);
			pointer-events: auto;
		}
	}

	&.is-dragging .wp-block-wporg-pattern-preview__container > iframe {
		pointer-events: none;
	}
}

.wporg-pattern-view-control__controls {
	margin-bottom: var(--wp--preset--spacing--20);
	display: flex;
	justify-content: center;
	gap: 0;

	.wp-element-button {
		--wp--custom--button--spacing--padding--top: 1px !important;
		--wp--custom--button--spacing--padding--bottom: 1px !important;
		--wp--custom--button--spacing--padding--left: 8px !important;

		display: flex !important;
		gap: 4px;
		align-items: center;
		border-color: transparent !important;

		svg {
			fill: currentColor !important;
		}
	}
}

.wporg-pattern-preview__drag-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wporg-pattern-view-control__drag-handle {
	$height: 52px;
	$width: 4px;
	height: $height;
	width: $width;
	box-sizing: content-box;
	padding: 0;
	z-index: 2;
	border: none;
	background-color: transparent;
	cursor: col-resize;

	&::before {
		content: "";
		display: block;
		height: $height;
		width: $width;
		border-radius: math.div($width, 2);
		background: var(--wp--preset--color--charcoal-5);
	}

	&:hover::before {
		background: var(--wp--preset--color--charcoal-4);
	}

	&:focus {
		box-shadow: none;

		&::before {
			background: var(--wp--preset--color--charcoal-4);
		}
	}

	&:focus-visible::before {
		box-shadow: 0 0 0 1.5px var(--wp--custom--link--color--text);
	}

	&.is-right {
		padding-left: 10px;
	}

	&.is-left {
		padding-right: 10px;
	}

	@media (max-width: 782px) {
		display: none;
	}
}
