.wp-block-wporg-pattern-preview {
	border-color: var(--wp--custom--wporg-pattern-thumbnail--border--color);
	border-radius: var(--wp--custom--wporg-pattern-thumbnail--border--radius);
	border-style: solid;
	border-width: var(--wp--custom--wporg-pattern-thumbnail--border--width);
	margin: 0;
	position: relative;
	width: 100%;
	overflow: hidden;

	iframe {
		border: none;
		max-width: none;
		pointer-events: none;
	}
}
