.button.button-outline {
	box-sizing: border-box;
	padding: 0.25rem 1rem;
	background: $color-white;
	border: 1px solid color(gray-10);
	border-radius: 2px;
	box-shadow: none;
	height: auto;
	color: color(blue-50);
	font-weight: 600;

	&:hover {
		border-color: color(blue-40);
	}

	&:focus {
		border-color: color(blue-40);
		box-shadow: 0 0 3px color(blue-20);
	}
}
