// Inject the correct colors for the Notice block.
.wp-block-wporg-notice {
	--wp--custom--wporg-notice--color--background: #e2ffed;
	--wp--custom--wporg-notice--color--text: #1e1e1e;

	&.is-info-notice {
		--wp--custom--wporg-notice--color--background: #eff2ff;
	}

	&.is-alert-notice {
		--wp--custom--wporg-notice--color--background: #fffdd6;
	}

	&.is-warning-notice {
		--wp--custom--wporg-notice--color--background: #ffe9de;
	}
}
