.wp-block-wporg-post-status {
	display: inline-block;
	padding: 0.1rem 0.75rem;
	border-radius: 2px;
	background: var(--wp--preset--color--blueberry-3);
	color: var(--wp--preset--color--charcoal-1);
	font-weight: 600;
	font-size: var(--wp--preset--font-size--extra-small);
	line-height: var(--wp--custom--body--extra-small--typography--line-height);
	text-transform: uppercase;

	&.is-pending,
	&.is-pending-review {
		background: var(--wp--preset--color--lemon-1);
	}

	&.is-unlisted {
		background: var(--wp--preset--color--pomegrade-2);
	}

	&.is-published {
		background: var(--wp--preset--color--acid-green-1);
	}
}

// Adjust position of the post status chip when in my patterns grid.
.wporg-my-patterns .wp-block-post {
	position: relative;

	.wp-block-wporg-post-status {
		position: absolute;
		top: calc(var(--wp--preset--spacing--10) / 2);
		left: calc(var(--wp--preset--spacing--10) / 2);
		margin-block-start: 0 !important;
	}
}
