<!-- wp:wporg/global-header /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:heading {"level":1,"className":"has-text-align-center","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} -->
	<h1 class="has-text-align-center" style="margin-top:var(--wp--preset--spacing--60);">404</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">This page could not be found.</p>
	<!-- /wp:paragraph -->

	<!-- wp:spacer {"height":"var(--wp--preset--spacing--40)"} -->
	<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:search {"label":"Search","placeholder":"Search...","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"align":"center"} /-->

</main>
<!-- /wp:group -->

<!-- wp:wporg/global-footer {"style":"white-on-black"} /-->
