<!-- wp:wporg/global-header /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"className":"entry-content","style":{"spacing":{"blockGap":"0px"}}} -->
<main class="wp-block-group entry-content">
	<!-- wp:pattern {"slug":"wporg-pattern-directory-2022/archive-header"} /-->

	<!-- wp:group {"layout":{"type":"default"},"align":"wide"} -->
	<div class="wp-block-group alignwide">
		<!-- wp:pattern {"slug":"wporg-pattern-directory-2022/pattern-filters"} /-->

		<!-- wp:pattern {"slug":"wporg-pattern-directory-2022/pattern-grid"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"80px"} -->
	<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:wporg/global-footer {"style":"white-on-blue"} /-->
