<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"left":"var:preset|spacing|edge-space","bottom":"var:preset|spacing|50","right":"var:preset|spacing|edge-space"}}},"align":"full","layout":{"type":"constrained","wideSize":"1760px"}} -->
<main class="wp-block-group alignfull" style="padding-right:var(--wp--preset--spacing--edge-space);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--edge-space)">

	<!-- wp:group {"layout":{"type":"default"},"align":"wide"} -->
	<div class="wp-block-group alignwide">
		<!-- wp:pattern {"slug":"wporg-pattern-directory-2022/grid-favorites"} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
