.error-404 {
	display: flex;
	margin: 4rem 1rem;
	min-height: 28rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* stylelint-disable-next-line function-url-quotes */
	background-image: url("data:image/svg+xml,%3Csvg width='1033' height='471' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 366.009h213.878v98.437H253.7v-98.437h60.853v-37.586H253.7V6.264h-49.442L0 332.003v34.006zm213.878-37.586H46.758v-2.908L210.746 63.313h3.132v265.11zM516.115 470.71c96.424 0 153.025-87.027 153.025-235.355C669.14 87.699 612.091 0 516.115 0c-95.977 0-153.026 87.699-153.026 235.355 0 148.328 56.602 235.355 153.026 235.355zm0-37.585c-70.473 0-112.532-72.262-112.532-197.77 0-125.284 42.283-198.44 112.532-198.44 70.248 0 112.531 73.156 112.531 198.44 0 125.508-42.059 197.77-112.531 197.77zM717.732 366.009H931.61v98.437h39.823v-98.437h60.857v-37.586h-60.857V6.264H921.99L717.732 332.003v34.006zm213.878-37.586H764.49v-2.908L928.478 63.313h3.132v265.11z' fill='%23F0F0F1'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	.page-title {
		margin-top: 0;
		font-weight: 700;
		font-size: 2.125rem;
		text-align: center;
	}

	.pattern-search {
		border: 1px solid $color-black;
	}
}
