$font-size: 13px;
$grid-unit: 1.5rem;
$border-radius: 2px;

.category-context__bar {
	margin: 0 $grid-unit;
	background: $color-gray-light-300;
	border-radius: $border-radius;
	font-size: $font-size;
	overflow: auto;
	transition: all 50ms ease-out;

	@media only screen and (min-width: $breakpoint-medium) {
		margin: 0 $grid-unit;
	}

	@media only screen and (min-width: $breakpoint-large) {
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;

		li {
			list-style: none;
			font-size: $font-size;

			a {
				display: block;
				padding: $grid-unit * 0.75 $grid-unit / 2;
				text-decoration: none;
			}

			&:last-child a {
				padding-right: $grid-unit;
			}
		}
	}

	&__copy {
		padding: $grid-unit * 0.75 $grid-unit;

		> p {
			margin: 0;
		}
	}

	&__title {
		margin: 0;
		padding-right: $grid-unit;
		color: $color__text;
		font-size: $font-size - 1;
		text-transform: uppercase;
	}

	&__links {

		@media only screen and (max-width: $breakpoint-medium) {
			display: none;
		}

		display: block;
	}

	&--is-hidden {
		height: 0;
		overflow: hidden;
	}
}
