.context-bar {
	margin: $gutter-default $gutter-default 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $color-gray-light-300;
	border-radius: 2px;
	font-size: 0.8125rem;
	overflow: auto;

	@media only screen and ( min-width: $breakpoint-large ) {
		margin-left: auto;
		margin-right: auto;
		max-width: $size__site-main;
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;

		li {
			list-style: none;
			font-size: 0.8125rem;

			a {
				display: block;
				padding: $gutter-default * 0.75 $gutter-default / 2;
				text-decoration: none;
			}

			&:last-child a {
				padding-right: $gutter-default;
			}
		}
	}

	&:focus {
		outline: none;
		box-shadow:
			inset 0 0 0 1px #fff,
			0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
	}
}

.context-bar__copy {
	display: flex;
	align-items: center;

	margin: 0;
	padding: $gutter-default * 0.75 $gutter-default;
	font-size: 0.8125rem;
	font-weight: 400;
}

.context-bar__title {
	margin: 0;
	padding-right: $gutter-default;
	color: $color__text;
	font-size: 0.75rem;
	font-weight: 400;
	text-transform: uppercase;
}

.context-bar__links {
	display: flex;
	align-items: center;

	@media only screen and ( max-width: $breakpoint-medium ) {
		display: none;
	}
}

.context-bar__spinner {
	display: flex;
	width: 28px;
	margin: 0;
	transition: transform 100ms linear, width 150ms ease-out, opacity 50ms linear 50ms;
	transform: scale(1);

	@media (prefers-reduced-motion) {
		transition: none;
	}

	// @wordpress/components/spinner has default margin we don't need
	.components-spinner {
		margin: 0;
	}
}

.context-bar__spinner--is-hidden {
	overflow: hidden;
	width: 0;
	opacity: 0;
	transform: scale(0);
}
