.pattern-favorite-button {
	position: relative;
	font-size: 0.875rem;
	height: 2.25rem;
	width: 2.25rem;
	border-radius: 2px;
	color: color(gray-60);
	vertical-align: top;

	svg {
		position: absolute;
		top: calc(50% - 0.75rem);
		left: calc(50% - 0.75rem);
		height: 1.5rem;
		width: 1.5rem;
		transition: all 0.15s ease-out;

		path {
			fill: color(gray-60);
		}
	}

	.pattern-favorite-button__filled {
		opacity: 0;
	}

	&:hover {
		color: color(gray-60);
		background: transparent;

		svg path {
			fill: color(gray-60);
		}
	}

	&:focus {
		box-shadow:
			inset 0 0 0 1px #fff,
			0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
	}

	&:active {
		background: transparent;
		box-shadow: none;
		transform: none;
	}

	&.has-label {
		padding: 12px 18px 12px 38px;
		height: auto;
		width: auto;

		svg {
			top: calc(50% - 12px);
			left: 9px;

			path {
				fill: $color-black;
			}
		}
	}

	&:not(.has-label) {
		background-color: $color-white;
		box-shadow: 0 1px 2px rgba($color-black, 0.15);

		&:hover {
			background: color(gray-2);
		}

		&:focus {
			box-shadow:
				inset 0 0 0 1px #fff,
				0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
		}
	}

	&.is-favorited {
		svg path {
			fill: color(red-40);
		}

		.pattern-favorite-button__outline {
			opacity: 0;
			transform: scale(2.8);
		}

		.pattern-favorite-button__filled {
			opacity: 1;
		}

		&:hover .pattern-favorite-button__filled {
			animation: 0.9s infinite HeartBeat;

			@media (prefers-reduced-motion) {
				animation: none;
			}
		}
	}
}

.pattern-favorite-button-small {
	height: auto;

	&:hover {
		background: transparent;
	}

	&:focus {
		background: transparent;
		outline: 1px dotted currentColor;
		box-shadow: none;
	}

	&.is-favorited svg path {
		fill: color(red-40);
	}
}

@keyframes HeartBeat {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(1.2);
	}

	40% {
		transform: scale(1);
	}

	60% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
