$grid-unit: 1.5rem;

.grid-menu {
	margin: 0 auto;
	max-width: 960px;

	&__actions {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		> div:first-child,
		> div:last-child {
			width: 100%;
		}

		> div:last-child {
			padding: $grid-unit;
		}

		@media only screen and (min-width: $breakpoint-medium) {
			margin: $grid-unit;
			flex-direction: row;

			div:last-child {
				padding: 0;
				margin-bottom: 0;
				width: inherit;
			}
		}

		@media only screen and (min-width: $breakpoint-large) {
			margin: $grid-unit 0;
		}
	}

	// This is a style that is applied on the gutenberg component side.
	// We don't want it.
	.components-base-control__field {
		margin-bottom: 0;
	}
}
