.main-navigation {
	float: none;
	position: static;
	width: auto;
	display: flex;
	align-items: center;

	a {
		font-size: 0.8125rem;

		&:hover {
			text-decoration: underline;
		}
	}

	form[role="search"] {
		margin-left: 1rem;
	}

	&.toggled {
		div.menu,
		ul.menu {
			position: absolute;
			top: 57px;
			right: 0;
			width: 100%;
			background: $color__wp-blue;
		}
	}
}

.menu-toggle {
	position: static;
	height: auto;
	width: auto;
	font-size: 1.5625rem;
	overflow: hidden;
	-webkit-appearance: none;
}

