body.page {
	.entry-header {
		margin: 2rem auto 1rem;
		padding: 0;
		max-width: 960px;
		background: none;

		.entry-title {
			margin: 0 $gutter-default;
			color: inherit;

			@media only screen and ( min-width: #{$breakpoint-large} ) {
				margin: 0;
			}
		}
	}

	.entry-content {
		max-width: none;
	}
}

body.page-about {
	.entry-header {
		display: none; // The top-level heading `h1` is set in the cover block.
	}

	.entry-content {
		padding: 0;

		@media ( max-width: $breakpoint-small ) {
			h1 {
				font-size: 36px !important; // override the size from the editor.
			}

			.wp-block-cover {
				padding: 48px !important; // override the padding from the editor.
			}
		}
	}
}
