@mixin focus_styles {
	outline: none;
	border: 1px solid color(blue-70);
	box-shadow: 0 0 0 3px color(blue-20);
}

.pattern-search {
	display: flex;
	align-items: center;
	position: relative;
	background: $color-white;
	border-radius: 2px;

	input[type="search"] {
		flex-grow: 1;
		margin: 0;
		padding: 0.5rem 2rem 0.5rem 0.5rem;
		border: 1px solid transparent;
		border-radius: 2px;
		box-shadow: none;
		font-size: 0.8125rem;

		&:focus {

			@include focus_styles;
		}
	}

	&.is-loading {
		display: block;
		height: 24px;
		min-width: 100%;
		background: $color-gray-light-200;
		border-radius: 4px;

		@media only screen and (min-width: $breakpoint-mobile) {
			width: 224px !important;
			min-width: auto !important;
		}

	}
}

.pattern-search__button {
	display: flex;
	position: absolute;
	right: 0;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 2px;
	color: $color__text-lighter;
	height: 35px;
	align-items: center;

	&:active {
		background: $color-gray-light-600;
	}

	&:focus {

		@include focus_styles;
	}
}
