.pattern-menu {
	width: 100%;

	&:not(.is-mobile) {
		margin: 0;
		padding: 0;
		position: relative;

		li {
			display: inline-block;
			margin: 0;
			list-style: none;
		}

		a {
			display: block;
			padding: $gutter-default / 3 $gutter-default / 2;
			color: $color-gray-600;
			font-size: 0.875rem;
			text-decoration: none;

			&:hover,
			&:active,
			&:focus {
				color: $color-black;
			}
		}
	}

	.pattern-menu__item.is-active {
		color: $color-white;
		background: $color__wp-blue;
		border-radius: 2px;

		&:hover,
		&:focus {
			color: $color-white;
		}
	}

	&.is-mobile {
		ul {
			margin: 0;
			padding: 0;
			background: $color-dark-gray;
		}

		li {
			list-style: none;
			border-top: 1px solid $color-gray-700;

			a {
				display: block;
				padding: $gutter-default / 1.5 $gutter-default;
				font-size: 0.875rem;
				text-decoration: none;
				color: $color-gray-light-700;
			}
		}

		// Gutenberg overwrites
		padding: 0 !important;
		border-top: none !important;

		> .components-panel__body-title {
			margin: 0 !important;

			> button {
				padding: $gutter-default;
			}
		}
		// End
	}

	&.pattern-skeleton__container {
		flex-wrap: wrap;
		// match nav item text: line height (1.5) * font size (0.875rem) + 1rem of vertical padding.
		height: 2.3125rem;
		align-items: center;

		span {
			margin-bottom: 0.25rem;
		}
	}
}
