.pattern-grid__empty-header {
	margin: 2rem auto 4rem;
	max-width: 960px;
	min-height: 20rem;
	text-align: center;

	h2 {
		margin-top: 0;
		font-weight: 700;
		line-height: 1.2;
	}

	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 34rem;
	}
}

.pattern-grid {
	display: grid;
	margin: $gutter-default $gutter-default 4rem;
	max-width: 960px;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
	gap: $gutter-default;
	align-items: start;

	@include breakpoint( $breakpoint-large ) {
		margin-left: auto;
		margin-right: auto;
	}
}

.pattern-grid__pattern-frame {
	position: relative;
	margin: 0;
	width: 100%;
	box-shadow: 0 0 0 1px color(gray-2);
	border-radius: 2px;
	transition: all 0.075s ease-in-out;

	@include breakpoint( $breakpoint-small ) {
		display: inline-block;
		margin: 0;
	}

	.pattern-grid__preview {
		overflow: hidden;

		&.has-error {
			color: color(red-60);
		}
	}

	.pattern-grid__status {
		position: absolute;
		top: 0.375rem;
		left: 0.375rem;
		padding: 0.5rem 0.75rem;
		border-radius: 2px;
		background: color(gray-40);
		color: $color-white;
		font-size: 0.6875rem;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		pointer-events: none;

		&.is-pending,
		&.is-pending-review {
			background: color(yellow-20);
			color: $color-black;
		}

		&.is-unlisted {
			background: color(red-50);
		}
	}

	.pattern-grid__actions {
		position: absolute;
		z-index: 10;
		right: 0;
		bottom: 0;
		padding: 0.375rem;
		opacity: 0;
		transition: opacity 0.075s ease-in-out;

		> *:not(:first-child) {
			margin-left: 0.375rem;
		}
	}

	&:hover,
	&:focus-within {
		.pattern-grid__actions {
			opacity: 1;
		}
	}
}

.pattern-grid__title {
	margin: 0.5rem 0;
	font-size: 0.875rem;
	font-weight: 600;
	color: color(gray-90);

	a {
		color: currentColor;
	}
}

.pattern-grid__meta {
	margin: 0.5rem 0;
	display: flex;
	gap: 1em;
	align-items: center;
}

.pattern-grid__author-avatar,
.pattern-grid__favorite-count {
	display: flex;
	font-size: 0.875rem;
	line-height: 1;
	color: color(gray-90);
	text-decoration: none;
}

.pattern-grid__author-avatar img {
	margin-right: 0.5rem;
	height: 1rem;
	width: 1rem;
	border-radius: 6px;
}

.pattern-grid__favorite-count svg {
	margin-top: -1px;
	margin-bottom: 1px;
	margin-right: 0.25rem;
	height: 1rem;
	width: 1rem;
	fill: color(gray-40);
}
