.pattern-menu-layout {
	margin: 0 auto;
	max-width: $size__site-main;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	> nav {
		margin-bottom: $gutter-default;
		width: 100%;
	}

	.pattern-select-control {
		margin-bottom: $gutter-default;
	}

	.pattern-menu {
		width: 100%;
	}

	> form {
		margin: $gutter-default;
		width: calc(100% - #{$gutter-default * 2});
	}

	.pattern-skeleton__container {
		flex-wrap: wrap;
		// match nav item text: line height (1.5) * font size (0.875rem) + 1rem of vertical padding.
		height: 2.3125rem;
		align-items: center;

		span {
			margin-bottom: 0.25rem;
		}
	}

	@include breakpoint( $breakpoint-medium ) {
		.pattern-select-control {
			margin-bottom: 0;
		}

	}

	@media only screen and ( min-width: #{$breakpoint-medium + 1} ) {
		margin: $gutter-default;
		flex-direction: row;

		> nav {
			margin-bottom: 0;
		}

		> form {
			margin: 0;
			width: auto;
		}
	}

	@media only screen and ( min-width: $breakpoint-large ) {
		margin: $gutter-default auto;
	}
}
