.pattern-select-control {
	margin: 0 auto;
	width: max-content;

	// Remove gutenberg margin
	.components-base-control__field {
		margin-bottom: 0;
	}

	// Gutenberg styles are causing an overflow issue.
	// Over qualified to override other styles
	select.components-select-control__input.components-select-control__input {
		width: auto;
		// Set a line-height so that it's consistent across screen sizes.
		line-height: 1;
	}

	body.rtl & {
		// Update the margin when using an RTL language, overrides a Gutenberg bug.
		.components-input-control__container {

			/*!rtl:ignore*/
			margin-left: 0;

			/*!rtl:ignore*/
			margin-right: 8px;
		}
	}
}
