.pattern-navigation-layout {
	margin: 0 auto $gutter-default;
	max-width: $size__site-main;
	gap: $gutter-default;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.pattern-navigation-layout__primary {
		width: 100%;
	}

	.pattern-navigation-layout__secondary {
		display: flex;
		flex-direction: column;
		gap: #{$gutter-default / 2};
	}

	@media only screen and ( min-width: #{$breakpoint-medium + 1} ) {
		margin: $gutter-default;
		gap: #{$gutter-default / 2};
		flex-direction: row;
		flex-wrap: wrap;

		.pattern-navigation-layout__primary {
			margin-bottom: 0;
			width: auto;
		}

		.pattern-navigation-layout__secondary {
			width: auto;
			flex-direction: row;
		}
	}

	@media only screen and ( min-width: $breakpoint-large ) {
		margin: $gutter-default auto;
	}
}
