body.single-wporg-pattern {
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;

	.site-content {
		margin: auto;
		max-width: none;
		padding: 0;
	}

	.entry-header,
	.pattern-actions__container,
	.pattern__meta {
		max-width: $size__site-main;
		padding: 1.5rem;
		margin-left: auto;
		margin-right: auto;

		@media only screen and (min-width: $breakpoint-large) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.entry-header {
		padding-top: 2.625rem;
		padding-bottom: 1.875rem;

		.entry-title {
			margin-top: 0;
			line-height: 1.2;
			font-weight: 600;
		}
	}

	.pattern__categories a {
		display: inline-block;
		margin-right: 1rem;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.pattern__categories-label {
		margin-right: 1rem;
		font-weight: 600;
		font-size: 0.75rem;
		line-height: 1.3333;
		text-transform: uppercase;
	}

	.pattern-actions {
		padding: 0 1.5rem 2rem;

		button {
			margin: 0;
		}

		@media only screen and (min-width: $breakpoint-large) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.pattern-actions__container {
		padding: 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.5em 2em;

		@media (max-width: $breakpoint-mobile) {
			justify-content: center;
		}
	}

	.pattern-actions__guide {
		max-width: $breakpoint-mobile / 1.25;

		// @wordpress/components/guide overrides
		height: auto;
		max-height: none;
	}

	.pattern-actions__guide-content {
		padding: 1.5rem;
		line-height: 1.5;
	}

	.pattern-actions__guide-title {
		margin: 0;
	}

	.pattern-actions__guide-shortcut {
		background: $color-gray-light-300;
		box-shadow: 0 0 0 1px $color-gray-light-700;
		padding: 1px;
		font-weight: 600;
		min-width: 20px;
		display: inline-block;
		text-align: center;
		border-radius: 2px;
	}

	.pattern__related-patterns {
		max-width: $size__site-main;
		margin-left: auto;
		margin-right: auto;

		> * {
			margin-left: $gutter-default;
			margin-right: $gutter-default;

			@include breakpoint( $breakpoint-large ) {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.pattern__meta {
		display: flex;
		justify-content: flex-end;
	}

	.pattern__author-avatar {
		display: inline-flex;
		align-items: center;
		font-size: 1rem;
		line-height: 1;
		font-weight: 600;
		color: color(gray-90);
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.pattern__author-avatar img {
		margin-right: 0.75rem;
		height: 2rem;
		width: 2rem;
		border-radius: 4px;
	}

	.pattern-code {
		margin-bottom: 5rem;
		width: 100%;
		height: 10rem;
		resize: vertical;
		font-family: monospace;
	}
}
