.pattern-preview__container {
	padding: 0;
	background: $color-gray-light-200;
}

.pattern-preview__size-control {
	margin: 0 auto;
	padding: 1rem 0;
	max-width: 12rem;

	.components-base-control__field {
		margin-bottom: 0;
	}
}

.pattern-preview__viewport {
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 100vw;
	min-width: 320px;

	.pattern-preview__viewport-iframe {
		background: $color-white;
		border: 1px solid $color-gray-light-400;
		vertical-align: middle;
		max-width: 100vw;
	}

	&:focus-within .pattern-preview__resize-help {
		clip: initial;
		clip-path: initial;
		height: initial;
		margin: initial;
		overflow: initial;
		width: initial;
		bottom: -1rem;
		left: 20px;
		right: 20px;
		padding: 8px 16px;
		background: $color-white;
		border-radius: 2px;
		border: 1px solid $color-gray-light-600;
		text-align: center;
	}
}

.pattern-preview__drag-handle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 20px;
}

.pattern-preview__drag-handle.is-left {

	/*!rtl:ignore*/
	left: 0;
}

.pattern-preview__drag-handle.is-right {

	/*!rtl:ignore*/
	right: 0;
}

.pattern-preview__drag-handle-button {
	$height: 100px;
	position: absolute;
	top: calc(50% - #{$height / 2});
	left: 6px;
	padding: 0;
	width: 8px;
	height: $height;
	appearance: none;
	cursor: grab;
	outline: none;
	background: $color-gray-200;
	border-radius: 99999px;
	border: none;

	&:hover {
		background: $color-gray-300;
	}

	&:active {
		cursor: grabbing;
		background: $color-gray-400;
	}

	&:focus {
		box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
	}
}
