body.single-wporg-pattern {
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;

	.site-content {
		margin: auto;
		max-width: none;
		padding: 0;
	}

	.entry-header {
		max-width: $size__site-main;
		padding: 1.5rem;
		margin-left: auto;
		margin-right: auto;

		@media only screen and (min-width: $breakpoint-large) {
			padding: 1.5rem 0;
		}

		.entry-title {
			margin-top: 0;
			line-height: 1.2;
		}
	}

	.pattern-actions {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.5em 2em;

		button {
			margin: 0;
		}

		@media (max-width: $breakpoint-mobile) {
			justify-content: center;
		}
	}

	.pattern-actions__notice {
		margin: 1.5rem 0 0;
		height: auto;
		flex-basis: 100%;

		// @wordpress/components/notice wraps content
		> * {
			display: flex;
			flex-direction: column; // stack on mobile
			justify-content: space-between;
			align-items: flex-start;
			margin: 0;

			button {
				margin-top: 0.75rem;
			}

			@media only screen and (min-width: $breakpoint-small) {
				align-items: center;
				flex-direction: row;

				button {
					margin-top: 0;
				}
			}
		}
	}

	.pattern-actions__guide {
		max-width: $breakpoint-mobile / 1.25;

		// @wordpress/components/guide overrides
		height: auto;
		max-height: none;
	}

	.pattern-actions__guide-content {
		padding: 1.5rem;
		line-height: 1.5;
	}

	.pattern-actions__guide-title {
		margin: 0;
	}

	.pattern-actions__guide-shortcut {
		background: $color-gray-light-300;
		box-shadow: 0 0 0 1px $color-gray-light-700;
		padding: 1px;
		font-weight: 600;
		min-width: 20px;
		display: inline-block;
		text-align: center;
		border-radius: 2px;
	}

	.entry-content {
		max-width: $size__site-main;
		margin-left: auto;
		margin-right: auto;
	}

	.pattern__meta {
		padding: 2rem 0;
		background: $color-gray-light-200;

		> div {
			max-width: $size__site-main;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			justify-content: space-between;
		}

		.pattern-preview__report {
			text-align: right;
		}
	}

}
