.pagination {
	max-width: 960px;
	margin: 1.5rem 1.5rem 4rem;

	@include breakpoint( $breakpoint-large ) {
		margin-left: auto;
		margin-right: auto;
	}
}

.pagination__list {
	display: flex;
	margin: 0;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;

	@media (max-width: $breakpoint-mobile) {
		gap: 0.25rem;
	}
}

.pagination__item {
	display: inline-block;
}

.pagination__link {
	display: inline-block;
	padding: 0.75rem;
	background: $color-white;
	border: 1px solid $color-gray-light-600;
	border-radius: 2px;
	line-height: 1;
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: none;
	}

	&[aria-current="page"] {
		border: 1px solid $color-gray-900;
		background: $color-gray-900;
		color: $color-white;
	}

	@media (max-width: $breakpoint-mobile) {
		padding: 0.5rem;
	}
}

@media (max-width: $breakpoint-small) {
	.pagination__item-previous-page,
	.pagination__item-next-page {
		.pagination__link span[aria-hidden] {
			display: none;
		}
	}

	.pagination__item-previous-page .pagination__link::before {
		content: "<";
	}

	.pagination__item-next-page .pagination__link::before {
		content: ">";
	}
}
