body.single-wporg-pattern {
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;

	.site-content {
		margin: auto;
		max-width: none;
		padding: 0;
	}

	.site-main {
		max-width: $size__wide-width;
	}
}
