.pattern-navigation-layout {
	margin: 0 auto $gutter-default;
	max-width: $size__site-main;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.pattern-navigation-layout__primary {
		width: 100%;
	}

	.pattern-navigation-layout__secondary {
		margin-top: $gutter-default;
		width: calc(100% - #{$gutter-default * 2});
	}

	@media only screen and ( min-width: #{$breakpoint-medium + 1} ) {
		margin: $gutter-default;
		flex-direction: row;

		.pattern-navigation-layout__primary {
			margin-bottom: 0;
		}

		.pattern-navigation-layout__secondary {
			margin: 0;
			width: auto;
		}
	}

	@media only screen and ( min-width: $breakpoint-large ) {
		margin: $gutter-default auto;
	}
}
