.site-title {
	margin: 0 !important;

	@include breakpoint( $ms-breakpoint ) {
		text-align: left;
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
		}
	}
}

.home .site-title {
	font-size: 48px !important;
	margin-bottom: 16px !important;
}