.site-header.home {
	padding: 0;
	text-align: left;

	.site-branding {
		display: block;
		padding: 3.75rem 1rem;

		@include breakpoint( $breakpoint-medium ) {
			background-image: url(../images/masthead-bg.png?2);
			background-size: contain;
			background-repeat: no-repeat;
			background-position-x: 160%;

			> div {
				max-width: 50%;
			}
		}

		@include breakpoint( $breakpoint-large - 100 ) {
			background-position-x: 120%;
		}

		@include breakpoint( $breakpoint-large ) {
			background-position-x: right;
		}

		.site-link {
			display: inline-block;
			margin: $gutter-default $gutter-default / 2 0 0;
			color: $color-white;
			font-size: 0.8125rem;
		}
	}

	// Duplicate class for specifity override.
	.site-title.site-title {
		margin-top: 0;
		text-align: left;
		font-size: 3rem;
		line-height: $type__header--line-height;
	}

	.site-description {
		margin: 0 0 1.5rem;
		font-size: 1rem;
		line-height: $type__line-height;
		text-align: left;
		color: $color-white;
	}

	.pattern-search {

		@include breakpoint( $breakpoint-large ) {
			max-width: 60%;
		}
	}
}

body:not(.home) {
	.site-branding {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr auto;
		font-size: 0.8125rem;
		color: $color-white;

		@include breakpoint( $breakpoint-medium ) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			*:first-child {
				flex-grow: 1;
			}
		}

		a {
			color: $color-white;
		}

		.sep {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}

		.is-current-page {
			font-weight: 600;
		}

		.pattern-search {
			grid-column: 1 / span 2;
		}
	}
}
