.site-header.home {
	padding: 3.75rem 1rem;
	text-align: left;

	.site-branding {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr 26rem;

		> * {
			align-self: center;
		}

		@include breakpoint( 0, $ms-breakpoint - 1 ) {
			display: block;
		}
	}

	// Duplicate class for specifity override.
	.site-title.site-title {
		grid-column-start: 1;
		grid-row-start: 1;
		margin-top: 0;
		text-align: left;
		font-size: 3rem;
		line-height: $type__header--line-height;
	}

	.site-description {
		grid-column-start: 1;
		grid-row-start: 2;
		margin: 0 0 1.5rem;
		font-size: 1rem;
		line-height: $type__line-height;
		text-align: left;
		color: $color-white;
	}

	.pattern-search {
		grid-column-start: 1;
		grid-row-start: 3;

		@media only screen and (min-width: $breakpoint-tablet) {
			max-width: 60%;
		}
	}
}

.site-header:not(.home) {
	padding: 0.5rem;

	.site-branding {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 0.8125rem;
		color: $color-white;

		a {
			color: $color-white;
		}

		.sep {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}

		.is-current-page {
			font-weight: 600;
		}
	}
}
