.wp-block-wporg-pattern-thumbnail {
	position: relative;
	margin: 0;
	background-color: var(--wp--custom--wporg-pattern-thumbnail--color--background);
	border-radius: 4px;

	&:where(.is-linked-image) a {
		display: block;
		padding: var(--wp--preset--spacing--40);
	}

	&:where(.is-linked-image):hover {
		--wp--custom--wporg-pattern-thumbnail--color--background: rgba(0, 0, 0, 0.1);
	}

	&:where(.is-linked-image):focus-within {
		outline: 1.5px solid var(--wp--custom--link--color--text);
		outline-offset: -1.5px;
	}

	&:where(.is-linked-image) a:focus {
		box-shadow: none;
	}

	.wporg-pattern-thumbnail__container {
		aspect-ratio: 4 / 3;
		display: flex;
		align-items: center;
	}

	img {
		display: block;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.wporg-pattern-thumbnail__loader {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		img,
		span {
			display: none;
		}

		&::after {
			content: "";
			display: inline-block;
			box-sizing: border-box;
			height: 16px;
			width: 16px;
			border: 1.5px solid;
			border-color:
				var(--wp--custom--wporg-pattern-thumbnail--color--background)
				var(--wp--custom--wporg-pattern-thumbnail--color--background)
				var(--wp--custom--link--color--text);
			border-radius: 50%;
			animation: rotate-360 1.4s linear infinite;
		}
	}

	.wporg-pattern-thumbnail__error {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		aspect-ratio: 21 / 9;
	}
}

@keyframes rotate-360 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
