.wp-block-wporg-copy-button {
	min-width: fit-content;

	&.is-variant-small .wp-element-button {
		--wp--custom--button--spacing--padding--top: calc(var(--wp--preset--spacing--10) / 2);
		--wp--custom--button--spacing--padding--right: var(--wp--preset--spacing--10);
		--wp--custom--button--spacing--padding--bottom: calc(var(--wp--preset--spacing--10) / 2);
		--wp--custom--button--spacing--padding--left: var(--wp--preset--spacing--10);
		font-size: var(--wp--preset--font-size--small);
		font-weight: 400;
	}

	&:not(.is-variant-small) .wp-element-button {
		min-width: 120px;
	}
}
